<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="com.lovecws.mumu.hessian.server.UserServiceImpl"/>
    <bean name="/user" class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="userService"/>
        <property name="serviceInterface" value="com.lovecws.mumu.hessian.api.UserService"/>
    </bean>
</beans>